<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>URL Rewrite Module Test</title>
</head>
<body>
    <h1>URL Rewrite Module Test Page</h1>
    
    <div id="log">
        
    </div>
    
    <script type="text/javascript" src="~/Scripts/jquery/jquery-2.0.1.js"></script>
    <script type="text/javascript" src="~/Scripts/Main.654789.js"></script>
</body>
</html>